
ex4/.idea/description.html
ex4/.idea/misc.xml
ex4/.idea/modules.xml
ex4/.idea/project-template.xml
ex4/.idea/vcs.xml
ex4/.idea/workspace.xml
ex4/ex4.iml
ex4/out/production/ex4/backend/Server.class
ex4/out/production/ex4/com/company/Main.class
ex4/out/production/ex4/frontend/Client.class
ex4/.idea/vcs.xml
ex4/.idea/vcs.xml
